
.postbox {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:aliceblue;
}

.date{
    font-size: 0.9em;
    color: gray;
}

#like:hover{
    transform: scale(1.3);
}

.profile-link{
   cursor: pointer; 
}
.profile-link:hover{
    color: blue;
} 
.table{
    display: flex;
    align-items: center;
    text-align: center;
}
.title{
 
    text-align: center;
    align-items: center;
}
h1{
    text-align: center;
    align-items: center;
}
#follow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: blue;
    width: fit-content;
    
}

#flrText{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;

    
}#parent{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.child{
    display: inline-flex;
    background-color: aliceblue;
    border-radius: 10px;
    border: solid;
    border-color: black;
    font-size: large;
    color: gray;
}

#follow_btn{
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  
}

.button-wrap{
    display: flex;
    justify-content: center;
}


